In [2]:
from scipy import stats

In [4]:
t_test = stats.ttest_ind_from_stats(mean1 = 0.9, std1 = 0.193, 
                                    nobs1 = 9, mean2 = 1.18, std2 = 0.245,
                                   nobs2 = 8, equal_var = False)

In [6]:
t_test

Ttest_indResult(statistic=-2.5950518957125714, pvalue=0.021875897359240646)

In [8]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [10]:
dataset = pd.read_csv("trip_advisor_stars.csv")

dataset

    Traveler_type  Hotel_stars_given
0        Families                  3
1        Business                  3
2        Families                  3
3        Families                  3
4        Business                  3
..            ...                ...
499      Families                  4
500      Families                  4
501      Families                  4
502      Families                  4
503      Families                  4

[504 rows x 2 columns]

#### Null hypothesis

Significant difference between the average of rates given by businesses and families

#### Alternative hypothesis

Significant difference between the mean of rates given by businesses and families

In [45]:
dataset["Traveler_type"].value_counts()

Traveler_type
Families    406
Business     98
Name: count, dtype: int64

In [47]:
average = dataset.groupby("Traveler_type")["Hotel_stars_given"].mean()

In [49]:
average

Traveler_type
Business    4.051020
Families    4.046798
Name: Hotel_stars_given, dtype: float64

In [57]:
# Here we need to split the data into x1 and x2

X1= dataset[dataset['Traveler_type']=='Business']['Hotel_stars_given']
X2= dataset[dataset['Traveler_type']=='Families']['Hotel_stars_given']

In [59]:
t_testt = ttest_ind(X1, X2, equal_var = False)

In [61]:
t_testt

TtestResult(statistic=0.04451747410407884, pvalue=0.9645519335242811, df=147.99446168060567)